.pic{
    height: 250px;
    width: 250px;
}

.swag{
    font-size: 30px;
}

#center{
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 23px;
}

#under{
    text-decoration-line: underline;
}

body{
    background-image: url(http://www.zastavki.com/pictures/1600x1200/2008/3D-graphics_Mario_mushrooms_006968_.jpg)
}

#table {
    border-collapse: collapse;
    width: 100%
    
}

th, td {
    border: 2px solid black;
    text-align: left;
    padding: 4px;
}

